<div>
  <mat-form-field class="example-form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="id" (input)="searchPokemon()" />
    @if (id) {
    <button matSuffix matIconButton aria-label="Clear" (click)="id=''; selectedPokemon=null">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <input matInput type="text" [(ngModel)]="id" disabled />
  </mat-form-field>
</div>

<div>
  <label for="pokemonSelect">Pick a pokemon</label>

  <select id="pokemonSelect" name="pokemonSelect" [(ngModel)]="selectedPokemon">
    <option *ngFor="let pokemon of pokemons | filterPokemonPipe:filter" [value]="pokemon.id">
      {{ pokemon.name }}
    </option>
  </select>

  <input type="text" id="filter" [(ngModel)]="filter" placeholder="filter" />

  <label for="filter"> Filter the list of pokemons </label>

  <p *ngIf="selectedPokemon">Selected Pokemon ID: {{ selectedPokemon }}</p>

  <button mat-raised-button *ngIf="selectedPokemon" (click)="validateChoice()">GO!</button>
</div>

<app-aff-pokemon *ngIf="selectedPokemon" [id]="selectedPokemon"></app-aff-pokemon>
